<form class=" cont" [formGroup]="loginform" (ngSubmit)="loginform">
    <!-- Email input -->
    
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
         
          <h2 class="fw-bold mb-2 text-uppercase text-center">Login Here</h2>
          <br />
  
          <div class="form-outline mb-4">
            <!-- <label class="form-label" for="form2Example1">Email address</label> -->
            <input type="email" id="form2Example1" class="form-control" placeholder="Enter Email ID" formControlName="email" />
            <span style="color:red" *ngIf="email.invalid&&email.touched">Email ID is Required</span>
          </div>
  
          <!-- Password input -->
          <div class="form-outline mb-4">
            <!-- <label class="form-label" for="form2Example2">Password</label> -->
            <input type="password" id="form2Example2" class="form-control" placeholder="Enter Password" formControlName="pass"/>
            <span style="color:red" *ngIf="pass.invalid&&pass.touched">Password is Required</span>
          </div>
  
          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="form2Example31"
                  checked
                />
                <label class="form-check-label" for="form2Example31">
                  Remember me
                </label>
              </div>
            </div>
  
            <div class="col">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>
  
          <!-- Submit button -->
          <div class="text-center">
          <button type="button" class="btn btn-primary btn-block mb-4 ">
            Sign in
          </button>
        </div>
  
          <!-- Register buttons -->
           <div class="text-center">
             <p>Not a member? <a routerLink="/sign">Register</a></p> 
            <!-- <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fa fa-facebook-square"></i>
            </button>
  
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fa fa-google-plus-square"></i>
            </button>
  
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fa fa-twitter-square"></i>
            </button>
  
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fa fa-github-square"></i>
            </button>-->
          </div>  
        </div>
      </div>
    </div>
  </form>
  
